.timeline-container {
  position: relative;
  max-width: 1200px;
  /* margin: 60px auto; */
  padding: 0 20px;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 88%;
  background-color: #FF2661;
  transform: translateX(-50%);
  z-index: 1;
}
.timeline-container .btn-link{
  color:#FF2661;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;

}

.timeline-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}

.timeline-box {
  width: 45%;
  background: #fff;
  /* padding: 20px; */
  /* border-radius: 12px; */
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.05); */
}
.timeline-box p{
  color:#616D80 !important;
  font-size: 16px;
  line-height: 1.6;
}

.timeline-box.title-img h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2D2D2D;
}

.timeline-box.title-img img {
  border-radius: 8px;
  height: 200px;
}

.timeline-box.icon-desc {
  text-align: end;
}
.timeline-box.icon-desc-start {
  text-align: start;
}



.timeline-dot-wrapper {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .timeline-dot {
    width: 14px;
    height: 14px;
    top: 0;
    position: absolute;
    background-color: #FF2661;
    border: 4px solid #FF2661;
    border-radius: 50%;
    z-index: 3;
} */

.timeline-dot {
    width: 14px;
    height: 14px;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #FF2661;
    border: 4px solid #FF2661;
    border-radius: 50%;
    z-index: 3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .timeline-row {
    flex-direction: column;
  }

  .timeline-box,
  .timeline-box.title-img,
  .timeline-box.icon-desc {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .timeline-dot-wrapper {
    width: auto;
    margin-bottom: 20px;
  }

  .timeline-line {
    left: 20px;
  }

  .timeline-dot {
    margin: 0 auto;
  }
}
