.testimonial-section {
  text-align: center;
  padding: 60px 0;
}

.testimonial-section h5 {
  font-weight: bold;
  color: #333;
}

.testimonial-section h2 {
  font-weight: 700;
  color: #0066d9;
  margin-bottom: 40px;
}

.testimonial-card {
    border: none;
    /* background: #efefef;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06); */
    background-color: transparent;
    padding: 30px 20px;
    border-radius: 10px;
    min-height: 252px;
    position: relative;
    /* height: 100%; */
}

.testimonial-card .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
}

.testimonial-card .name {
  font-weight: 600;
  margin-top: 15px;
}

.testimonial-card .stars {
  color: #ffc107;
}

.slick-slider {
  position: relative;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  font-size: 20px;
  color: #ff4c00;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 0px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}
.testimonial-card-body {
    /* background: #f3f3f3; */
    background: linear-gradient(277deg, hsl(0deg 0% 96.85% / 41%), hsl(274.67deg 69.24% 87.2% / 18%));
    border: 1px solid #fff;
    margin-top: 10px;
    padding-top: 50px;
    border-radius: 10px;
}